{
  "all": true,
  "extension": [
    ".js"
  ],
  "exclude": [
    "coverage/**/*",
    "test/**/*",
    "src/index.js"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "cache": false,
  "sourceMap": false,
  "instrument": true
}
