{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ],
  "env": {
    "production": {
      "plugins": [
        "transform-runtime",
        "babel-plugin-inject"
      ],
      "presets": [
        "stage-0"
      ]
    },
    "test": {
      "plugins": [
        "istanbul",
        "rewire"
      ],
      "presets": [
        "stage-0"
      ]
    }
  }
}